body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*Webpack finds all relative module references in CSS (they start with ./)*/
.Logo {
  background-image: url(../assets/logos/ReactLogo.svg);
}
